[2016-02-12 21:13] tuncer opened #7 "Maybe add re2:run/2"
Maybe we should add re2:run/2 as a shallow wrapper around re2:match/2, in order to make it easier to switch between re and re2.

[2016-02-12 21:14] tuncer opened #8 "Add rebar3 support"
Implement dynamic rebar.config.script that works with both rebar and rebar3.

[2016-02-14 02:31] matehat commented on #8
:+1: please add this

[2016-02-14 17:36] tuncer opened #9 "Maybe use dirty schedulers"
Investigate if dirty schedulers would benefit re2_nif and,  if so, how it can be used in a backwards compatible way. We could build two different libs and conditionally load re2_nif.so or re2_nif_ds.so.

[2016-02-16 19:39] vinoski commented on #9
Dirty schedulers are beneficial when you have NIF tasks that regularly run too long on a normal scheduler thread &mdash; where "too long" means longer than 1-2ms &mdash; and there's no natural or easy way to break the work into chunks. One way to determine if your NIF workloads run too long on a normal scheduler is to use [`erlang:system_monitor/2`](http://erlang.org/doc/man/erlang.html#system_mon

[2016-02-24 07:19] netDalek opened #10 "Compilation failed after re2 update"
First of all thank you for this library.

After last re2 update I had to add https://github.com/netDalek/re2/commit/f2a2e8a70c84d0183891251a8826eec008e5f253 to make script. Because compilation failed with
[code]

And probably it would be better to specify exact https://code.googlesource.com/re2 version to avoid such errors

[2016-02-24 10:05] tuncer commented on #10
I'm afraid newer re2 upstream requires (#6) C++11 to build, and there is nothing we can do about it. On platforms without a C++11 compiler you can checkout tuncer/re2 v2.2.2 (bb5adb417f59fca4a2463fbc0aabd1f1f9f9b347), where I've pinned it to upstream tag 2006-02-01. Because there is no C++98 branch to follow upstream, I cannot choose to avoid it. So, unless the C++11-dependency is removed upstream

[2016-02-24 10:19] tuncer commented on #10
Trying to detect and use the OS-provided re2 library can be done via a rebar.config.script that looks for the library (in well-known places) and modifies/generates  port_env accordingly. We could use autoconf, but that would complicate the build process.

[2016-02-25 00:40] tuncer commented on #8
Work in progress: https://github.com/tuncer/re2/compare/rebar3

[2016-02-25 00:43] tuncer commented on #10
Work in progress: https://github.com/tuncer/re2/compare/rebar3

TODO: should we check an env var to ignore system re2?

@jj1bdx, can you verify if the config logic to detect clang with libc++ works on FreeBSD?

[2016-02-25 09:54] tuncer commented on #10
To be clear, some of it, like system re2 detection, needs a little more work to be solid.

[2016-02-25 15:14] tuncer commented on #10
@netDalek, does the rebar3 branch work for you? To be clear, it works with either rebar2 or rebar3, and the rebar3 support is preliminary, so for now stay with rebar2, until I figure out a couple details.

[2016-02-28 01:59] tuncer commented on #10
Needs a little more work on BSD, but distinction between libstdc++ and libc++ works fine.

[2016-02-28 20:44] tuncer commented on #10
https://github.com/tuncer/re2/compare/rebar3 works for me on linux-libstdc++ and freebsd-libc++, with or without system re2. @netDalek, does it work for you?

[2016-03-01 07:38] netDalek commented on #10
I’m sorry for late answer. Now it works with current master of https://code.googlesource.com/re2 and gcc updated from 4.4 to 4.8. So now it works, but what about pin to exact https://code.googlesource.com/re2 version and not use master? It is quite frustrating to get unbuildable project when you use exact versions in your rebar.config

[2016-03-01 11:12] tuncer commented on #10
It's good that it works with a newer gcc, but I've implemented default-linking against system-provided re2 lib (libre2.so), so I was curious to see if it works for you as well. This means, that we only fetch and build re2 if we cannot find it installed in the system.

As I wrote above, I've pinned it to the tag 2016-02-01 for the 2.2.1 release, but to implement the C++11 support I had to use maste

[2016-03-01 11:34] tuncer commented on #10
Yesterday upstream has released 2016-03-01, and I've pinned that in c_src/build_deps.sh. I've also added the option to force master re2 by setting the env var RE2_MASTER.

[2016-03-01 11:36] tuncer commented on #10
@cooldaemon, @janin, @djnym, @dhull, @matehat, would the planned change  from the rebar3 branch (linked above) to link against the system re2 lib (if available), and only fetch, build, and statically link a local build otherwise, in any way preclude you from using re2? The big change is that, unless you force a local re2 copy (via env var `NO_SYSTEM_RE2`), re2_nif.so will have a runtime dependency

[2016-03-01 16:35] martin-langhoff commented on #10
(Working with @matehat) -- Reviewing and testing your 'Use system re2 if available' patch. From my perspective (with some background as Debian and Fedora packager), using system re2 is a sane default, and you have a clear override mechanism, so +1.

If the default goes the other way, no problem at our end.

[2016-03-01 16:47] tuncer commented on #10
The project started using a local copy at a time when distros didn't package re2, but my concern is that changing the default now will break some deployments. Therefore I'm wondering if we should make it opt-in, in order to not disrupt existing users' setups.

[2016-03-01 18:01] martin-langhoff commented on #10
Current top of `rebar3` branch seems to DTRT at `make` time on Fedora 23, with `re2-devel` package installed. It does not fetch re2, it only builds `re2.erl` and `re2_nif.cpp`.

However, my target platform is CentOS7/RHEL7 and there it fails the detection. The file listings of the rpms in F23 vs EL7 are the same, so finding the files / file paths should not be an issue. I could not spot in your pa

[2016-03-01 18:03] tuncer commented on #10
No worries, I'm trying to get feedback, and I'm afraid the only response
I'll get is when the default is changed and users file tickets about broken
builds. I don't want to disrupt users' builds. Nobody downstream likes that
to happen.

​I'm also definitely aware of the advantages of relying on a system re2,
and I'd like to make it the default. Therefore, I'm trying to figure out
how to (1) inform

[2016-03-01 18:09] tuncer commented on #10
On 1 March 2016 at 19:01, Martin Langhoff <notifications@github.com> wrote:

DTRT?

How does re2_nif.cpp build, when the system re2 lib is incompatible?

The only time I had adapt to an API change was in 2011
(1467f6904c79dba8e733de1359342f4795833119), so re2-20131024 shouldn't
be a problem.

Can you paste the file listing of both RPMs?

[2016-03-01 18:35] martin-langhoff commented on #10
DTRT = Do The Right Thing. In other words, on Fedora 23 it's looking good.

Both EL7 and F23 have this listing for `re2` and `re2-devel`:
[code]

However, for some reason on EL7 the detection is not working. I'll be diving deeper into this tomorrow.

[2016-03-02 12:24] tuncer commented on #10
@martin-langhoff, where did you find re2 packages for CentOS? I can't find anything in a normal repo for CentOS 6 or 7. What's the name of the RPM?

[2016-03-02 13:03] martin-langhoff commented on #10
Update: Actually it works correctly on EL7. My mix.lock was outdated and resetting things to master resolved this. Apologies for the noise.

The re2 packages come from EPEL repo which are not part of RHEL/CentOS _base_, but are maintained by the Fedora/RH team and without EPEL RHEL/CentOS is rather limited, so everyone uses something from there...

[2016-03-02 13:07] martin-langhoff commented on #10
On EL7 (CentOS7 in this case):
[code]
I don't think it is available on EL6, based on changelog...

[2016-03-02 14:07] tuncer commented on #10
Great, it made no sense for detection to fail in that scenario.

[2016-03-02 14:53] tuncer commented on #8
Merged to master, and if you followed the thread on the rebar list, you might be aware that there's some unresolved issues with rebar3 generally, but re2 now build with either rebar2 or rebar3.

[2016-03-02 14:56] tuncer commented on #8
@matehat, does it work for you?

[2016-03-02 15:03] tuncer commented on #10
Merged the rebar3 branch to master after doing some minor changes, like reversing the system re2 check logic, and if you've been following the thread on the rebar list, you might be aware that there's some unresolved issues with rebar3 generally, but re2 now builds with either rebar2 or rebar3. Eventually we should look for a system re2 by default, but I couldn't enable it due to the high risk of

[2016-03-02 15:09] tuncer commented on #10
Unless there's something I've missed, I'll close this ticket as resolved when I cut the next release. @netDalek?

[2016-03-02 16:21] matehat commented on #8
Thanks @tuncer immensely for your work. I'll double check on my end, but I think everything should be fine! :+1:

[2016-03-03 00:54] jj1bdx commented on #10
`make` and `rebar compile` worked on FreeBSD 10.3-PRERELEASE r295134 with the stock clang. `make eunit` generated no error. Sorry for getting late.

[2016-03-14 13:20] tuncer commented on #10
Thanks @jj1bdx, as I wrote earlier, it also worked for me on freebsd-11.

[2016-03-14 13:20] tuncer commented on #10
Fix included in 1.4.0.

[2016-03-14 13:20] #10 closed

[2016-03-14 13:20] tuncer commented on #8
Implemented in 1.4.0.

[2016-03-14 13:20] #8 closed

[2016-03-14 13:26] tuncer commented on #9
Thanks for the detailed response, @vinoski. I'll add it to the repo with some extra ideas.

[2016-03-14 13:26] #9 closed

[2016-03-14 13:40] tuncer commented on #7
Implemented in [feature/compat-run_2](https://github.com/tuncer/re2/compare/feature/compat-run_2). Before we can merge this, the following questions need to be resolved:

1. Is this beneficial enough to add to the API?
2. Are the accepted arguments and resulting behavior compatible enough to avoid confusion?

[2016-03-14 13:40] tuncer commented on #7
Feedback welcome.

[2016-07-12 15:54] tuncer opened #13 "rebar3 support doesn't always work"
If you attempt to compile with rebar3, it only works intermittently. More specifically, the pre_hook gets ignored. I've gotten it to compile twice (just as it worked back when I added rebar3 support), but I haven't figured out the exact circumstances under which the hook is run successfully, in order to get to the root issue.

To reliably cause a failed compile as reported by @matehat, you can run

[2016-07-12 15:58] tuncer commented on #13
/cc @matehat, @blt

[2016-07-12 15:59] tuncer commented on #13
/cc @ferd, @tsloughter

[2016-07-13 20:25] tuncer commented on #13
/cc @fred, @blt, @tsloughter, @matehat

[2016-07-13 20:27] tuncer commented on #13
/cc @ferd, @blt, @tsloughter, @matehat

[2016-07-13 20:34] ferd commented on #13
What would I need to be able to reproduce this? I don't have re2.h or libre2.so on the system as far as I know.

[2016-07-13 20:35] matehat commented on #13
@ferd then just pulling this very library and attempting to build it using rebar3 will fail

[2016-07-13 20:49] ferd commented on #13
I get the following output:

[code]

The code seems to execute fine, it just fails. That's all hooks and plugins outside of rebar3 core?

[2016-07-13 21:00] tuncer commented on #13
@ferd, run it with `DEBUG_CONFIG=1` in order to enable a printout of the `rebar.config.script` result. There you will see the full config, which includes the pre_hook that only has been triggered intermittently so far. Don't worry about the printout happening thrice. That's this rebar3 bug: https://github.com/rebar/rebar3/issues/1087.

I suppose this (from your log above)

[code]

shouldn't say `n

[2016-07-13 21:03] ferd commented on #13
Understood.

[2016-07-13 21:17] ferd commented on #13
I haven't gotten things to work in 3.0.0, 3.1.0, 3.2.0 and master branches. Has this ever worked?

[2016-07-13 21:24] tsloughter commented on #13
Provider hooks run before the other hooks. Looks like your provider hook (pc compile) depends on the `pre_hook` on compile to have run before it.

That is probably the issue.

[2016-07-13 21:29] tsloughter commented on #13
The solution I'd suggest is adding hook calls to the port compiler plugin so that you can hook into `{pc, compile}` as a pre hook.

[2016-07-13 22:15] tuncer commented on #13
@fred wrote:

Yes, reliably back in March, but intermittently this week. @tsloughter's explanation would explain the behavior. To be clear, the config is based on the docs found on the website, so should those be revised accordingly?

Will try it out tomorrow if nobody submits a diff first.

[2016-07-13 22:17] tuncer commented on #13
@tsloughter, is it correct that it says

[code]
though?

[2016-07-14 11:34] tuncer commented on #13
@tsloughter I found no way to hook into pc's pre_compile or alternatively run a shell script in provider_hooks. What exactly is your suggested solution?

Also, is `run_hooks("/tmp/re2", pre_hooks, compile) -> no hooks defined` correct behavior, given the existence of pre_hooks in the config?

[2016-07-14 14:23] tsloughter commented on #13
Right, I was saying that hook support would have to be added to the port compiler plugin first.

Yea, there are 2 places pre_hooks for compile are run. Once for the project and once per-app. That one you see that has no hooks defined is probably that project run.

The only time project hooks are different (or can exist) from per-app hooks is when you have an umbrella project where you have multipl

[2016-07-14 14:52] tuncer commented on #13
It's 1 project, which is 1 app, so I'm not sure if the warning should be logged.

[2016-07-14 15:07] ferd commented on #13
So I didn't implement the hooks, but my understanding of them is as follows:

A hook can be global to the full compile step (entire project), or to a specific application run (app is compiled, you run before and after). See http://www.rebar3.org/docs/configuration#section-hookable-points-in-providers

Edocs, for example, has its hooks run only before and after the entire run. Similarly for release

[2016-07-14 15:11] tsloughter commented on #13
I'm going to add a section to the plugins tutorial on rebar3.org about how to make your plugin hookable.

[2016-07-14 15:45] tsloughter commented on #13
But basically you just need to add:

[code]

to `pc_prv_compile`.

[2016-07-14 17:09] tuncer commented on #13
Suppose, port_compiler is fixed, how would the hook to run the shell script look in rebar.config?

[2016-07-14 17:11] tuncer commented on #13
@ferd there is no umbrella project, it's just a single app project. Therefore, the current log message, even if technically correct, is confusing. I suggest to make it more specific or at least not make it look like a false warning.

[2016-07-14 17:14] tsloughter commented on #13
`{pre_hooks, [{{pc, compile}, "c_src/build_deps.sh"}]},`

[2016-07-14 17:16] tuncer commented on #13
But that wouldn't fit the type spec.

[code]

[2016-07-14 17:18] tuncer commented on #13
BTW, why do plugins need to explicitly add a call to rebar_hooks? Is there some flexibility gained by that which would otherwise be harder to support?

[2016-07-14 17:20] tuncer commented on #13
While thinking of workarounds, I wondered if one could write a source-only plugin (.erl) as part of the project, and if that would already be hook-ready.

[2016-07-14 17:29] tsloughter commented on #13
Ah, you are right, the type spec needs to be updated and the call in `pc` should be `rebar_hooks:run_all_hooks(Cwd, pre, {?NAMESPACE, ?PROVIDER}, Providers, State),`

Originally we attempted to have hooks be part of providers themselves, making every provider hookable, this turned out to be very flawed. I can't think at the moment what those issues were.

[2016-07-14 18:03] tuncer commented on #13
See https://github.com/blt/port_compiler/pull/24

[2016-07-14 18:08] tuncer commented on #13
While thinking of workarounds, I wondered if one could write a source-only plugin (.erl) as part of the project, and if that would already be hook-ready (like in rebar2).

[2016-07-14 19:15] ferd commented on #13
I've updated the hooks documentation to include the content mentioned in here.

@tuncer I don't believe we allow plugins to be defined from within the project there, since we'll attempt to fetch all plugins as if they were dependencies. The workaround there would be to define a plugin like `{plugins, [my_plugin]}.` and then put the source for the plugin inside `_checkouts/my_plugin/`. This could a

[2016-07-14 19:36] tuncer commented on #13
It's not just for local development and was used in rebar2 for project-local plugins. Such plugins make no sense to share in a separate project and are part of rebar scripting.

If by saying it wouldn't work when fetched as a dependency you mean other projects won't have access to the project-local plugin, then that's correct and expected. If however you mean that the plugin won't be evaluated whe

[2016-07-14 19:53] tsloughter commented on #13
Currently a plugin can not be in a dep. The rational for this was that this way the plugins (and deps of plugins) are not in the code path any other time than when they are run, so plugins and their deps can't interfere with other deps and transitive deps.

[2016-07-14 20:23] tuncer commented on #13
Filed https://github.com/erlang/rebar3/issues/1273

[2016-07-15 15:08] tuncer commented on #13
@matehat, can you give the rebar3-new-hooks branch a try, once the new port_compiler plugin has been published?

[2016-07-17 23:04] tuncer commented on #13
@matehat, can you verify the rebar3-new-hooks branch with port_compiler 1.3.0 works for you as well?

[2016-07-20 09:14] xrzhao opened #14 "is it possible to change google's re2 repository address?"
in c_src/build_deps.sh:

change:
    git clone https://code.googlesource.com/re2
to:
    git clone https://github.com/google/re2.git

[2016-07-20 10:19] tuncer commented on #14
If you have a new enough (lib)re2 installed on your system, you can set the `SYSTEM_RE2` env var to avoid fetching and building a local copy.

Also, have you tried using git's url.insteadOf feature? If that works, please post the details, so that we can include it in the docs. If that does not work, we can introduce a repo override (`RE2_REPO` env var).

googlesource has higher availability and mo

[2016-07-20 10:46] tuncer commented on #13
Fixed in master, requiring pc >=1.3.0.

[2016-07-20 10:46] #13 closed

[2016-07-22 09:49] tuncer commented on #14
ping?

[2016-07-28 19:58] tuncer commented on #14
ping?

[2016-08-08 19:30] tuncer commented on #14
@xrzhao, given no feedback regarding the suggested solutions, I'm going to assume one of them worked for you. Please reopen if that's not the case.

[2016-08-08 19:30] #14 closed

[2016-08-22 17:42] laverite opened #15 "linking problem, undefined symbol"
With centos6.5 + devtoolset-2 I am able to compile the re2 nif.  However when I try to run the eunit tests the module fails to load with:

`The on_load function for module re2 returned {error,
                                              {load_failed,
                                               "Failed to load NIF library: '/tmp/re2/_build/test/lib/re2/priv/re2_nif.so: undefined symbol: _ZNKSt

[2016-08-23 14:12] tuncer commented on #15
Thanks, I'll look into. I haven't been able to set up 6.5, would 6.8
with devtoolset-3 be okay? It would be great if you can provide steps
to recreate the same environment (including Erlang).

On 22/08/2016, laverite <notifications@github.com> wrote:

[2016-08-23 18:14] tuncer commented on #15
Can you post a `rebar -vv co` build log? `WhichCPPLib()` is in `$LDFLAGS` and also in the template that references `$DRV_LDFLAGS`, so this error is unexpected. I'll try to find a Linux env that fails...

[2016-08-23 19:16] laverite commented on #15
I'll have to find out about using 6.8 and devtoolset-3, but here's a quick Docker file setting up an environment in 6.6 that I can replicate the problem in.  Just bash into the container and run:

-  scl enable devtoolset-2 bash
-  git clone https://github.com/tuncer/re2.git
-  rebar3 compile
-  rebar3 eunit

[re2-issue-15-docker.txt](https://github.com/tuncer/re2/files/433337/re2-issue-15-docker.

[2016-08-23 20:38] tuncer commented on #15
Thanks, I'll see if I can reproduce it, though I'm not sure how soon that will be.

Does the following C++ code build and run?
[code]

[2016-08-23 20:42] tuncer commented on #15
This svn commit could be the fix: https://gcc.gnu.org/viewcvs/gcc?view=revision&revision=195676. I suppose that's included in devtoolset-2.

[2016-08-23 20:45] tuncer commented on #15
Just to be clear, re2 1.2.2 can be used as the last C++03 release (before we had to introduce C++11 to support newer upstream).

[2016-08-24 00:25] laverite commented on #15
yeah the test c++ code above compiles and runs on my 6.5 env via `c++ -std=c++11  -o test test.cpp`

[2016-08-26 01:32] laverite commented on #15
those changes seem to work as well.

[2016-08-26 01:33] tuncer commented on #15
Does it still build, if you keep that modification and remove `-lstdc++` from the LDFLAGS definition?

[2016-08-26 04:30] tuncer commented on #15
rebar patch: https://github.com/rebar/rebar/pull/617

[2016-08-26 04:38] tuncer commented on #15
Explicit `-lstdc++` should be obsolete in `rebar.config.script` when `c++` is the compiler driver used for linking, and it would probably allow us to remove C++ stdlib detection in `rebar.config.script`. However, we'd introduce a minimum rebar version requirement.

[2016-08-26 18:38] tuncer commented on #15
We might actually be able to conditionally rely on the corrected plugin, and only fall back if the port compiler is too old. A simple min version check should suffice. We'd still have to carry compat code for use with older plugin versions, but not breaking the build is more important than a fallback code branch.

[2016-08-27 19:08] tuncer commented on #15
rebar 2.6.3 includes the fix. This ticket should probably stay open until the mentioned rebar.config.script changes are done. Maybe even until rebar3 port_compiler has been synced.

[2016-08-28 11:12] tuncer commented on #15
Can you verify that the `ldflags-optional` branch works as expected with rebar `2.6.3` for you as well?

[2016-08-28 18:01] tuncer commented on #15
Here's the rebar3 port_compiler patch: https://github.com/blt/port_compiler/pull/25.

Please verify that the `ldflags-optional` branch works for you as well when compiled by rebar >= `2.6.3` and rebar3 port_compiler with https://github.com/blt/port_compiler/pull/25.

[2016-08-29 17:43] laverite commented on #15
Thanks @tuncer!

rebar 2.6.3 on `ldflags-optional` branch works.

rebar3 on `ldflags-optional` branch using your `sync` branch of pc plugin works as well.

[2016-08-29 21:26] tuncer commented on #15
Released 1.5.0. I've also pinged @tsloughter to release rebar3 port_compiler 1.3.0.

[2016-08-29 21:26] #15 closed

[2016-09-18 06:36] hopewise opened #16 "erl_nif.h: No such file or directory"
Can you please advice how to solve this error:

I got this error when I try to deploy my elixir app using edeliver, I am on:

[code]

[2016-09-18 11:35] tuncer commented on #16
Is it possible that your Erlang installation doesn't have `erl_nif.h`?

[code]

It's not the cause of the error you've encountered, but I've modified the include directive to be more correct (https://github.com/tuncer/re2/commit/f29f5d3750710399ae85c769f70bbd7c884c2e7d), because we obviously are not looking for it in `re2/c_src`. The reason it was `"erl_nif.h"` is because it's copied verbatim from

[2016-09-18 12:22] hopewise commented on #16
I am sorry, but what does that 'file' command do? I've tried it, I got a prompt >

[2016-09-18 12:43] tuncer commented on #16
It runs `file` on `erl_nif.h`, where the path to `erl_nif.h` is retrieved by invoking `erl`, printing the path, and exiting the vm. I don't know why it would start the Erlang shell and wait for input.

Does it make a difference if you run with `-noinput` (which means no shell and no waiting for input) instead `-noshell`?

    erl -noinput -eval 'io:format("~s~n", [filename:join([lists:concat([code

[2016-09-18 12:47] hopewise commented on #16
using `-noinput` I got the path:

    /usr/lib/erlang/erts-8.0/include/erl_nif.h

[2016-09-18 12:52] tuncer commented on #16
Does that file exist?

[2016-09-19 08:39] hopewise commented on #16
# cat /usr/lib/erlang/erts-8.0/include/erl_nif.h
    cat: /usr/lib/erlang/erts-8.0/include/erl_nif.h: No such file or directory

[2016-09-19 19:44] tuncer commented on #16
How did you install Erlang? Is it possible that it's split into multiple distro packages, and there's a `-dev` or `-devel` package you might have to install?

[2016-09-20 10:56] hopewise commented on #16
I've used a pre-installed elixir at a DigitalOcean one click droplet.. What do you recommend? Maybe an ansible script on a fresh instance?

[2016-09-20 12:23] tuncer commented on #16
If it's something you can select for your droplet, and you can list the options, maybe I can help you choose one. If not, https://github.com/mtpereira/ansible-erlang looks like it should provide an up to date Erlang installation.

[2016-09-20 12:24] tuncer commented on #16
You will also need `git` and `c++` to build the NIF lib.

[2016-10-01 12:34] tuncer commented on #16
Did you resolve the issue?

[2016-10-01 19:35] tuncer opened #17 "Memory leak for literal regexes since switch to enif_alloc/enif_free"
Compiled regexes correctly invoke the RE2 destructor on NIF resource cleanup, but the temporary RE2 objects constructed for literal regexes are not destructed, and we only free the associated erts memory block.

I'm working on a fix. Ideally, now that we require C++11 and RE2's constructors seem to be compatible, we could use unique_ptr/shared_ptr, which we weren't able to when the code was origin

[2016-10-01 20:19] tuncer commented on #17
@matehat @guitarmind @bernardd @junyer testing a potential short-term fix.

[2016-10-01 20:37] tuncer commented on #17
Using the short-term fix branch, running `re2:match("foo", "o")` 3 million times, including the garbage of inefficiently using `lists:seq(1,N)` instead of an allocation-free bounded looping mechanism, went up quite high, but after all garbage had been collected, the VM settled at 43MB.

[2016-10-01 20:58] tuncer commented on #17
@matehat @guitarmind, can you please test the `dtor` branch?

[2016-10-02 03:12] guitarmind commented on #17
@tuncer  Thanks for the short-term fix!
Will pull `dtor` branch and test it locally, then give feedback to you as soon as possible!

[2016-10-02 08:09] junyer commented on #17
The change in the `dtor` branch looks good to me and, of course, I'd be happy to discuss/review further changes.

[2016-10-02 08:31] junyer commented on #17
A couple of thoughts so far:

1. We could replace the `autohandle<RE2>` with a `std::unique_ptr<RE2>` and a `RE2*`: the former owns the "temporary" `RE2` object (when one is required) and the latter points to the "temporary" `RE2` object or the previously compiled `RE2` object.

2. Does it matter that RE2 does not use `enif_alloc()` and `enif_free()`? If not, would it matter if the wrapper did not

[2016-10-04 23:42] tuncer commented on #17
Added a commit that extracts the cleanup code into a shared function. It also adds a (commented out) deleter function object, but the conversion to unique_ptr isn't done yet. @guitarmind, please test the updated branch, and if it's all good, I'll cut a release this week. No need to delay it for the unique_ptr conversion.

[2016-10-04 23:56] tuncer commented on #17
@junyer, I've had some trouble using it like `std::unique_ptr<re2::RE2, EnifDeleter>`, so I'll have to get back to it later.

(1): I need to see if I can use `unique_ptr`'s API (`release()`) similar to `autohandle<RE2>` to continue using a single variable (ptr), not selecting one or the other pointer.

(2): I'd prefer to keep using the VM's allocator, and using a custom allocator with `unique_ptr`

[2016-10-05 07:06] guitarmind commented on #17
@tuncer @junyer @matehat

FYI. I tried to run the short-term fix branch `dtor` but still observed memory leak at the same place. (`re2_match()+841  c_src/re2_nif.cpp:326`) [file link](https://github.com/tuncer/re2/blob/753d61d5219c6370730e2e3edf4e78730c9d10ac/c_src/re2_nif.cpp#L326), so the line number is different because it's a newer version)

My branch used for testing the `dtor` fix: [guitarmi

[2016-10-05 17:28] tuncer commented on #17
@guitarmind, I've added a simple stress tester to the branch.

[code]

Above you can see the runtime difference between running 1 million iterations of `re2:replace` and `re:match` vs a simple print-and-exit of the VM.

I also ran 10 million iterations and also didn't get over the 24MB RAM used by the VM.

If I reintroduce the leak
[code]

an run another 1 million iterations, it's different:

[cod

[2016-10-06 03:13] guitarmind commented on #17
@tuncer Good point about the memlex. I will test it again with larger `-e T` and also run your simple stress tester locally. But it might take some time to get back to you. Thanks again for the follow-up!

[2016-10-06 19:17] tuncer commented on #17
@guitarmind, any idea when? I'd like to cut a release with the bugfix.

[2016-10-06 19:18] tuncer commented on #16
Interpreting no feedback as a sign that it has been resolved. Closing. Feel free to re-open if not.

[2016-10-06 19:18] #16 closed

[2016-10-07 02:15] guitarmind commented on #17
@tuncer The plan is to do it this weekend and get back to you, thanks.

[2016-10-07 08:10] guitarmind commented on #17
@tuncer
Just got some time to test it earlier. So the result looks quite good!
I tried to run both your stress tester and our service under the same environment, here are what I got:

**Stress Tester (without leak)**

1 million iterations
[code]

10 million iterations
[code]

**Stress Tester (with leak)**

10 million iterations
[code]
I can see it exploded at the speed of light...

**Integration T

[2016-10-08 19:50] tuncer commented on #17
Thanks. Just released 1.6.0.

[2016-10-08 19:50] #17 closed

[2016-10-17 04:47] guitarmind opened #18 "Error evaluating Rebar config script with Mix Compile of Elixir"
**Tested Environments**

[code]

**Rebar Version**

[code]

**C++ Compiler Version**

[code]

**ErlangVersion**

[code]

**Elixir Version**

[code]

**How to reproduce**

The `rebar.config.script` in `tuncer/re2` is fine with `rebar compile`. However, when doing the compilation through `mix compile` in Elixir will get the following errors:

[code]

**Detail Logs**

[code]

The errors are all point

[2016-11-07 22:57] tuncer commented on #18
What evaluates the `rebar.config.script`? It doesn't look like it's rebar, since I cannot reproduce the error. Does mix do its own eval of the script?

[2016-11-08 02:40] tuncer commented on #18
Do you know if mix has its own eval code for rebar config scripts? It seems like it isn't reusing `rebar:run`.

[2016-12-22 09:18] tuncer commented on #18
@guitarmind, can you file a ticket (referencing this one) for Mix at https://github.com/elixir-lang/elixir/issues/new? I would do so myself but you are actually using Elixir and Mix and therefore are in a better position to provide the relevant information.

[2017-01-11 21:35] tuncer commented on #18
Filed upstream bug: https://github.com/elixir-lang/elixir/issues/5645

[2017-01-14 23:55] tuncer commented on #18
Closing, since it's tracked as a mix bug.

[2017-01-15 01:13] tuncer commented on #18
Result of the discussion with mix devs:
mix implements a partial emulator for rebar's config.script evaluator which unfortunately fails to provide the right environment for scripts but works for many scripts. The partial evaluator is used to extract deps before actually running rebar proper on the project.

If we can assume that if mix is used to load the project this also means rebar3 will be use

[2017-01-15 01:34] tuncer commented on #18
TODO: implement and test mix support kludge in rebar.config.script for 2.7.2

[2017-01-16 08:20] guitarmind commented on #18
Hi @tuncer,

Sorry about the late reply and many thanks to your follow-ups and tracing of the issue with mix devs.
I'm relatively new to Erlang/Elixir therefore I'm afraid that I might not have correct answer to the internal details of `mix` manager in Elixir.

However, jus saw the comment from https://github.com/elixir-lang/elixir/issues/5645 mentioned that:

In my environment I have both `rebar`

[2017-01-21 17:20] tuncer commented on #18
If we can assume rebar3, then the kludge will easy to implement, so no need to configure rebar version, since rebar3 is already the default. I'll let you know when I have something ready to test.

[2017-01-21 18:04] tuncer commented on #18
@guitarmind, can you try the `mix-kludge` branch?

[2017-01-26 20:22] tuncer commented on #18
Evaluating the script with no environment (just a plain Erlang repl) works for me, meaning it will in `mix` as well. @guitarmind, did you test the branch?

[2017-01-27 08:49] guitarmind commented on #18
@tuncer Thanks a lot for the efforts, I can confirm that `mix compile` works after updating to use `mix-kludge` branch. I have created `markpeng/mix-kludge` branch in my forked `cqerl` project ([link](https://github.com/guitarmind/cqerl/commits/markpeng/mix-kludge)), and from my Elixir application project now `mix compile` can be passed with no errors. Note that I was testing by rebar 2 and it see

[2017-01-28 20:47] tuncer commented on #18
Thanks for testing. Fix landed in 1.7.2.

[2017-01-28 20:47] #18 closed

[2017-02-24 05:07] sabondano commented on #16
Having some trouble compile re2 with elixir 1.4.2. Anything comes to mind? Seems like a similar issue as the above.

[code]

[2017-02-24 23:01] tuncer commented on #16
@sabondano, this ticket was about an incomplete Erlang/OTP installation where the NIF C headers and probably other files were missing. The error you see is unrelated, and the path `/re2/c_src/re2_nif.cpp` looks incomplete, as does `/deps/re2/c_src/re2_nif.cpp`. Seeing how `re2_nif.cpp` is actually processed by `CXX`, did you perhaps cut off the prefix before commenting and the real path doesn't lo

[2017-02-28 10:28] chinhniem80 opened #19 "Build re2 failed in Mac OS X"
after extracting the source, go to re2-master  folder and 'make':
==> re2-master (compile)
Cloning into 're2'...
fatal: remote error:

Invalid authentication credentials.

Please generate a new identifier:
  https://code.googlesource.com/new-password

ERROR: Command [compile] failed!
make: *** [all] Error 1
==============
Any help,
Thank you.

[2017-02-28 20:08] tuncer commented on #19
Unfortunately, like @michalwski, I cannot reproduce this. Can you try in a different user environment, to be sure there's no user config that causes this?

I also have no problem cloning a random code.googlesource.com repository: `git clone https://code.googlesource.com/elt`

@junyer, any idea?

[2017-02-28 20:10] tuncer commented on #16
@sabondano, were you able to resolve the problem?

[2017-02-28 21:04] sabondano commented on #16
Yes, cleaned all deps and tried from scratch \o/ :) Thank you!

[2017-03-05 11:39] junyer commented on #19
Check `.gitconfig` to see where `http.cookiefile` points, then check that for `googlesource.com` entries. You should find one or two, presumably, which you can either regenerate (as instructed previously) or remove.

[2017-03-13 22:01] tuncer commented on #19
@chinhniem80, did @junyer's explanation help resolve the issue?

[2017-03-14 02:00] chinhniem80 commented on #19
No, I did not continue installing it in Mac OS more.
But I tried to do it in Unix. And it had the same issue. But the issue does not come from google credential... It was a quite different thing.
For building re2, need to update gcc/g++ to 4.9 (it does not work in ver 4.7) :
Try to do the same in Mac OS:
1.  apt-get install build-essential
2.  add-apt-repository ppa:ubuntu-toolchain-r/test
3.  apt

[2017-03-14 03:29] tuncer commented on #19
I don't know if those are the usual steps to upgrade the system wide gcc toolchain on Ubuntu, or if there's another (i.e. automated) way, but I think you forgot to update the `cc` and `c++` commands. That said, gcc 4.8 should be sufficient, if that's easier to install than 4.9 (or 6.x).

[2017-03-19 22:36] tuncer commented on #19
@chinhniem80, did it work after updating `c++` and `cc`? If not, you can also override the C++ compiler via the `$CXX` env var.

[2017-03-20 02:35] chinhniem80 commented on #19
It worked for me as I said.

[2017-04-02 20:16] tuncer commented on #19
Please try again in your macOS environment, following @junyer's explanation regarding googlecode git auth tokens.

Unless I'm missing something, there's no bug in the build scripts and it has just been a local git client issue.

[2017-04-05 05:13] getong opened #20 "re2 is also on github, can it change to the github address?"
Google can not be accessed in China. Can the [re2](https://code.googlesource.com/re2/) change to github address? The github address is https://github.com/google/re2 . I think they are the same.

[2017-04-05 05:17] getong commented on #20
See #21 , code added.

[2017-04-09 20:52] tuncer commented on #20
Thanks, I solved this differently (conditionally) in v1.7.5.

[2017-04-09 20:52] #20 closed

[2017-04-09 20:55] tuncer commented on #19
As a side effect of df0eb14a32635085f878ac3d42c8a125faec54ed this is void. Closing.

[2017-04-09 20:55] #19 closed

[2017-06-28 20:43] shanbhardwaj opened #23 "Ubuntu 16.04 LTS gcc 5.4.0 ICE"
I am trying to compile from head and running into the following issue

gcc version 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu1~16.04.4)
Erlang/OTP version: (19.3.6)

[code]

I have also built https://github.com/google/re2 separately from HEAD and installed it on the box but still running into the same issue. Here are the results of test install for re2

[code]

[2017-06-30 22:27] tuncer commented on #23
Thanks for the report. I haven't seen this with gcc 4.8, gcc 6.3, gcc 7.1, or clang 4.0. @junyer, should we track the ICE here or in https://github.com/google/re2/issues/148?

It's unfortunate, but we have to deal with this until Ubuntu fixes their gcc package. Since Ubuntu 16.04 is an LTS release, perhaps RE2 should, if possible, identify and work around the gcc regression as done in another case

[2017-06-30 22:36] tuncer commented on #23
For some reason, even after trying with 2 completely different browsers, I couldn't prevent github from repeating parts of the comment I wrote. I didn't repeat myself but github's comment system decided to. Trying to copy the text into a new comment renders to the same result in the preview, where the 2nd sentence is corrupted. Maybe I should avoid the web interface and use email comments.

[2017-06-30 22:38] tuncer commented on #23
Thanks for the report. I haven't seen this with gcc 4.8, gcc 6.3, gcc 7.1,
or clang 4.0.

@junyer, should we track the ICE here or in
https://github.com/google/re2/issues/148?

It's unfortunate, but we have to deal with this until Ubuntu fixes their
gcc package. Since Ubuntu 16.04 is an LTS release, perhaps RE2 should, if
possible, identify and work around the gcc regression as done in another
cas

[2017-06-30 22:40] tuncer commented on #23
Comment retry via email:

Thanks for the report. I haven't seen this with gcc 4.8, gcc 6.3, gcc
7.1, or clang 4.0.

@junyer, should we track the ICE here or in
https://github.com/google/re2/issues/148?

It's unfortunate, but we have to deal with this until Ubuntu fixes
their gcc package. Since Ubuntu 16.04 is an LTS release, perhaps RE2
should, if possible, identify and work around the gcc regress

[2017-06-30 22:41] tuncer commented on #23
Thanks for the report. I haven't seen this with gcc 4.8, gcc 6.3, gcc 7.1, or clang 4.0.

@junyer, should we track the ICE here or in google/re2#148?

It's unfortunate, but we have to deal with this until Ubuntu fixes their gcc package. Since Ubuntu 16.04 is an LTS release, perhaps RE2 should, if possible, identify and work around the gcc regression as done in another case (google/re2#102). In fac

[2017-07-02 03:43] shanbhardwaj commented on #23
@tuncer I just moved on and compiled with gcc-7. Thanks for the writeup and the help. You can close the issue if you'd like.

[2017-07-03 12:48] tuncer commented on #23
@shanbhardwaj, can you please test with the `v1.7.7` release? The only change is that `RE2_REV` defaults to `2017-07-01`.

[2017-07-03 12:59] tuncer commented on #23
@junyer, thinking about it, we should be able to utilize Travis-CI or GitLab-CI to build and test with different gcc versions or even different Linux distro chroots/containers. This seems like a low effort task to ensure that no RE2 commit fails on stable and/or LTS Linux distros, and can be relied upon prior to merging things, or at least to report the state of `master`. Filed as https://github.c

[2017-07-03 16:43] junyer commented on #23
Acknowledged.

[2017-07-04 12:41] tuncer commented on #23
Now that google/re2#149 has been resolved (thanks @junyer!), we can close this ticket.

However, I tried reproducing the ICE on Ubuntu 16.04.4 with `2017-01-01`, `2017-05-01`, `2017-06-01`, and it never ICE'd for me. The issue is resolved, but I'm still curious what I did wrong or why the ICE didn't surface here. Any ideas?

[2017-07-05 13:48] junyer commented on #23
I'm willing to chalk this up to a glitch in the matrix. We've done our due diligence, I believe, so unless the ICE resurfaces (via build breakage or another report) or @shanbhardwaj wants to dig into it, let's just close this issue.

[2017-07-05 14:50] tuncer commented on #23
Agreed.

[2017-07-05 14:50] #23 closed

[2017-08-19 23:04] #7 closed

[2017-09-16 00:36] waisbrot opened #25 "Hex package"
Would you be up for publishing this in [Hex](https://hex.pm)? I see Jiffy's there, so foreign-code-containing packages are possible.

[2017-09-16 01:31] tuncer commented on #25
Sure, but I'd need a volunteer to own the hex entry and upload releases.

[2017-09-16 01:33] tuncer commented on #25
Sure, but I'd need a volunteer with an account to own the hex entry and upload releases. Would you be willing to?

[2017-09-17 00:51] waisbrot commented on #25
I've got a Hex account and have published packages there. I'd be happy to handle it for you. I'll get it published and if you decide to create an account at some point I can give you either sole or shared control.

[2017-09-17 03:24] tuncer commented on #25
Cool, thanks. Let me when you're done, and I'll update the README with instructions for rebar, mix and erlang.mk.

[2017-09-17 12:11] waisbrot commented on #25
Done! PR #26 shows what I did to make it publish, FYI (not necessary to merge it if you don't want to move the .app file)

[2017-09-17 17:33] tuncer commented on #25
Thanks, merged and released 1.7.9. I assume the version in hex.pm is based solely on the app file and that the project prefixes release tags with `v` as in `vX.Y.Z` is of no concern. Please let me know if the new README is good.

[2017-09-17 17:33] #25 closed

[2018-12-03 16:43] nifoc opened #36 "Failed to load NIF library on macOS 10.14"
On macOS 10.14, I get the following error when I try to load the `re2` module:

[code]

There are no errors during compilation.

I'm using the standard Xcode toolchain to compile C/C++.

[2018-12-03 16:50] tuncer commented on #36
I don't have access to macOS. @junyer, @waisbrot, are you able to reproduce this?

[2018-12-03 17:04] tuncer commented on #36
Two simple ideas to check first:

- Is there a shared RE2 on your system (Apple, Homebrew, ...)? If that's the case, the result of building with env var `SYSTEM_RE2=1` could provide insight.
- If you ran into the error in an existing clone of the repo (i.e. __not__ using the Hex package), did you try `make clean` or `rm -fr c_src/re2`?

In any case, a [rebar3 debug log](https://www.rebar3.org/docs

[2018-12-03 17:11] tuncer commented on #36
Do you run into any issues if you build RE2 from source?

[code]

[2018-12-03 18:06] waisbrot commented on #36
My Mac is in the repair shop this week. :/  I can try to reproduce when I get it back next week.

It sounds like the correct file is being built, but at least one symbol is missing. I'd have expected a compiler error. Definitely try `rm -r _build` to make sure that everything's being rebuilt.

[2018-12-03 19:32] nifoc commented on #36
I have not installed RE2 via Homebrew and as far as I know, it isn't included by default in macOS.

I could try the Homebrew version if that's helpful.

I tried both the Hex package and a (clean) clone of the repository. It happens in both cases.

Here is the entire output of `env DEBUG=1 make`:

[code]

Actually, that doesn't work either. Interesting!

[code]

[2018-12-03 19:39] nifoc commented on #36
It looks like using `re2` via Homebrew (`SYSTEM_RE2=1`) works.

[2018-12-03 22:08] tuncer commented on #36
Just for reference, it should be noted that in rebar's port compiler plugin we have built-in rules (see [pc_port_env.erl](https://github.com/blt/port_compiler/blob/c2bc0ff7420f801f3ca1079228ec133f1bc4ac34/src/pc_port_env.erl#L261-L269)) to deal with Apple's toolchain differences. If the rules are insufficient, the plugin should be fixed.

[2018-12-03 22:44] tuncer commented on #36
The fact that `make test` doesn't succeed is interesting and unexpected. I don't see anything in https://github.com/Homebrew/homebrew-core/blob/master/Formula/re2.rb that would explain why building manually from git fails.

Is the following a problem, or can it be ignored?

[code]

That said, in the Erlang bindings we [build](https://github.com/tuncer/re2/blob/master/c_src/build_deps.sh) only what

[2018-12-04 12:41] nifoc commented on #36
(`objdump` exists on macOS, too)

Posted the output of `objdump -Ct c_src/re2/obj/libre2.a | c++filt` to [this gist](https://gist.github.com/nifoc/12ade90a9c99702f73f00eb645b4d4e9).

[2018-12-04 13:01] tuncer commented on #36
If your objdump understands `-C`, which it seems to, you don't have to pipe it through `c++filt`.

[2018-12-04 13:06] tuncer commented on #36
Just an idea, but I think we can rule out a conflict of libc++ vs libstdc++ on macOS 10.14. It should be clang/llvm/libc++ only.

[2018-12-04 13:17] tuncer commented on #36
`__ZN3re23RE213GlobalReplaceEPNSt3__112basic_stringIcNS1_11char_traitsIcEENS1_9allocatorIcEEEERKS0_RKNS_11StringPieceE`

demangles to

`re2::RE2::GlobalReplace(std::__1::basic_string<char, std::__1::char_traits<char>, std::__1::allocator<char> >*, re2::RE2 const&, re2::StringPiece const&)`

and can be found in the gist [here](https://gist.github.com/nifoc/12ade90a9c99702f73f00eb645b4d4e9#file-libr

[2018-12-04 20:43] nifoc commented on #36
It does indeed show up:

[code]

[2018-12-07 05:01] junyer commented on #36
I agree that the problem probably has something to do with this:

[code]

Looking around a bit, it appears that Mojave has broken a number of projects' builds in recent months... and the `MACOSX_DEPLOYMENT_TARGET` environment variable seems to be implicated somehow?

Could you please try running this:

[code]

and then building?

[2018-12-10 11:03] nifoc commented on #36
[code]

[2018-12-13 05:41] junyer commented on #36
Looking around a bit more, I discovered issues like https://github.com/tpoechtrager/osxcross/issues/11 (from over 4.5 years ago!) where people encountered that error due to mixing up toolchains. Could you please check whether the first `ar(1)` in your `PATH` is actually the correct `ar(1)` for your compiler?

[2019-02-10 01:17] wdavies973 opened #37 "RE2 compilation fails on Windows"
Relevant mix.exs:
`
  defp deps do
    [
      {:re2, "~> 1.8.6", override: true},
    ]
  end
`

After executing the following commands:
`mix deps.get`
`mix deps.compile`

I get the following error message:
[code]

I'm using Windows 10. Erlang version 21, Elixir version 1.7.4

[2019-02-10 13:50] tuncer commented on #37
I don't have access to Windows, but I have a suspicion what might cause this. Can you try the `fix-37` branch and report back?

[2019-02-10 13:56] tuncer commented on #36
@nifoc, any progress on this?

[2019-02-10 20:46] wdavies973 commented on #37
I tried to pull the fix-37 branch with:
`{:re2, github: "matehat/cqex", branch: "fix-37"},` but it fails with:
`error: pathspec 'origin/fix-37' did not match any file(s) known to git.
** (Mix) Command "git --git-dir=.git checkout --quiet origin/fix-37" failed
`
Any idea on how to get this working?

[2019-02-10 22:28] tuncer commented on #37
That branch exists only in https://github.com/tuncer/re2, and what you changed is just your direct dependency (`cqex`). `cqex` depends on `cqerl`, which depends on `re2` (https://github.com/matehat/cqerl/blob/master/rebar.config#L9). Unless you know of a way to tell mix to override the `re2` dependency and have it use the temporary `fix-37` branch, the quickest way to see whether the proposed fix

[2019-02-10 22:32] tuncer commented on #37
I haven't used mix and don't know if this works. But, maybe if you add `re2` explicitly in your config, it will override the transitive dependency (pulled in via `cqerl`). That way, you could specify the branch and see if it works.

[2019-02-11 21:05] tuncer commented on #37
Were you able to try the proposed solution?

[2019-02-11 21:10] wdavies973 commented on #37
Not yet, I'll get back to you in a few hours.

[2019-02-12 01:27] wdavies973 commented on #37
Okay, I tried this an received the same error:

[Link](https://pastebin.com/iQx0HG2A) (I had to use pastebin because it wasn't formatting here)

[2019-02-12 11:36] tuncer commented on #37
What shell are you using? Is it Visual Studio's git shell that has all the common POSIX tools?

I pushed more commits to the branch, please try again and share the output.

[2019-02-12 17:19] wdavies973 commented on #37
I just ran the commands through git bash. Seems to work alright. I forgot to checkout fix-37 in the last post, so here's an updated error log, it has a few more details:

https://pastebin.com/8ppG9kX3

[2019-02-12 20:27] tuncer commented on #37
@junyer, what's the preferred way to build RE2 on Windows? Would a mingw64 environment work, or is msvc via CMake required?

[2019-02-12 21:27] wdavies973 commented on #37
I've got mingw64 if you want me to give that a go.

On Tue, Feb 12, 2019 at 2:27 PM tuncer <notifications@github.com> wrote:

[2019-02-12 21:40] tuncer commented on #37
Sure, go ahead. That said, I thought the env you tried in before was a mingw64-based git and/or Visual Studio shell that has git and Microsoft's toolchain.

[2019-02-13 12:41] junyer commented on #37
https://github.com/google/re2/wiki/Install says:

It has been some time since I heard from anyone who did that, but I presume it still works.

[2019-02-15 19:40] wdavies973 commented on #37
Sorry I've been busy with school a lot recently. Had a chance to play around with it a bit more and got some more output: https://pastebin.com/xhJj5R4z. Hopefully this will help. I'm not really sure what else to try. I don't have Cygwin or anything.

[2019-02-15 21:12] tuncer commented on #37
It appears that Microsoft's compiler must be used, and we have to first create the build script.

I don't have Windows, so I can't develop and test, but I've added commits that outline the required changes  in `c_src/build_deps.sh`. It's obviously not complete, and rebar3 won't know where to look for the RE2 build artifact it should link. However, after making `build_deps.sh` work on Windows, the

[2019-02-15 21:25] tuncer commented on #37
@wdavies973, if you can clone https://github.com/google/re2 and then test the cmake calls, we can try to complete the changes. You have to find the right CMake invocations, based on the possibly incomplete calls in `build_deps.sh`, and then figure out where Debug and Release `re2.lib` can be found. I think we should succeed by adding a rule in `rebar.config.script` that extends `DRV_LDFLAGS` with

[2019-02-20 15:40] wdavies973 commented on #37
Working on it, it's gonna be a bit because I'm busy with a few other things at the moment.

[2019-02-20 15:42] tuncer commented on #37
Thanks

[2019-02-21 13:39] nifoc commented on #36
Sorry, I completely forget about this.

I tried again, after making sure not to use `ar` from Homebrew, and now everything works as expected. Looks like this was indeed simply an issue with my `PATH`.

Thank your for figuring this out, @junyer!

Again, sorry for the very long delay.

[2019-02-21 13:45] tuncer commented on #36
@nifoc, excellent, glad to hear it's been resolved!

[2019-02-21 13:46] #36 closed

[2019-02-23 17:23] wdavies973 commented on #37
Here's the output I get when making on Windows from the google repo: https://pastebin.com/JhqwyCWf

[2019-02-24 08:43] junyer commented on #37
[code]

... and yet `re2.h` has `#include <mutex>` at line 196. I see `-std=c++11` in the compiler flags, so that answers what would have been my next question.

Digging around a bit, https://stackoverflow.com/q/14191566 looks relevant?

[2019-02-24 11:44] tuncer commented on #37
@wdavies973, did you generate the makefile with CMake? The idea is that CMake will create the right build script (mingw makefile, nmake makefile, or msvc project), and that you can use CMake to drive the build tool (nmake, make, msbuild), too, if you don't want to invoke the specific tool.

@junyer, or is the Makefile from git supposed to work out of the box on Windows?

[2019-02-24 12:36] junyer commented on #37
Well spotted, @tuncer. Cygwin, MinGW and MSYS users should prefer CMake because that's what's known to work. However, as per my last comment, the MinGW installation needs to support `<mutex>` and it appears that this one doesn't.

[2019-02-26 22:25] wdavies973 commented on #37
I'll try with cmake and see what I can do.

[2019-02-26 22:30] wdavies973 commented on #37
Okay I'm on branch fix-37 but there aren't any `CMakeLists.txt` so I can't run the `cmake` command.

[2019-02-26 22:38] tuncer commented on #37
You should have a checkout of RE2 in `c_src/re2`, and there should be a [`CMakeLists.txt`](https://github.com/google/re2/blob/master/CMakeLists.txt) in there. That CMake script can be used to build RE2 in environments not supported by the bundled [`Makefile`](https://github.com/google/re2/blob/master/Makefile).

The plan is for `c_src/build_deps.sh` to run CMake on Windows, not execute the regular

[2019-02-26 22:39] tuncer commented on #37
Maybe I can set up Windows CI

[2019-02-26 22:48] tuncer commented on #37
@junyer, it's possible the installation is complete, but I can also imagine that it requires a different invocation or setup of some sort. From what I understand, CMake is the official way to build RE2 on Windows, correct? If that's the case, we should aim to use CMake. The main question is if mingw64 or msvc is required. Erlang is [built](https://github.com/erlang/otp/blob/master/HOWTO/INSTALL-WI

[2019-02-26 23:02] tuncer commented on #37
@wdavies973, if things go as planned, we should have Windows CI "soon". In the meantime, your help is useful in figuring out the details.

[2019-02-28 21:58] tuncer commented on #37
I set up Linux, macOS, and Windows CI with Azure Pipelines, and turned the branch into a pull request (https://github.com/dukesoferl/re2/pull/41). @junyer, @wdavies973, let's see if we can fix the Windows build.

[2019-03-01 13:30] tuncer commented on #37
Merged #41, opened #42 for rest of the issues.

[2019-03-06 15:02] tuncer commented on #37
After fixing a bug in the rebar3 port_compiler plugin and applying further changes in re2, building and testing unit tests on Windows works. On Azure Pipelines, I could only test with Visual Studio 2017, but it ought to work with 2015 as well. I'll update the README. @wdavies973, if you use 2015 and can confirm success, I'd appreciate feedback or a README pull request. You can expect a new release

[2019-03-06 15:19] #37 closed

[2019-03-14 17:40] wdavies973 commented on #37
Thanks!

[2019-03-21 07:00] wdavies973 commented on #37
@tuncer Looks like I'm getting a small error towards the end here: https://pastebin.com/aKhFVjgq

"c:\Program Files\erl10.1\erts-10.1\include\erl_nif.h(74): fatal error C1083: Cannot open include file: 'stdlib.h': No such file or directory"

Any idea on how to fix it?

Otherwise, your fix looks really good, it gets way farther than before and this error looks pretty easy to fix. I really appreciat

[2019-03-21 12:30] tuncer commented on #37
I'll assume you have a recent CMake and also Visual Studio 2017.

In the shell, did you run `C:/Program Files (x86)/Microsoft Visual Studio/2017/Community/VC/Auxiliary/Build/vcvars64.bat`?

Can you skip calling `make` and run `rebar3 compile` instead?

What happens if you create `hello.cc`

[code]

and run `cl hello.cc`?

Does it make a difference to run `cl /Tp hello.cc` (see [cl options](https:/

[2019-03-21 18:51] wdavies973 commented on #37
When running the the `vcvars64.bat` and then running `rebar3 compile`, I get the following error:

[code]

Compiling `hello.cc` does fail with:
[code]

I tried compiling `hello.cc` with `vcvars32.bat` and `vcvars64.bat`.

The error is the same when running `cl /Tp hello.cc`

This error looks like it's probably something wrong with my machine and not the windows build for `re2` so if you have any a

[2019-03-23 17:14] wdavies973 commented on #37
So apparently, it's not just my computer. The first error "sh" is not recognized looks like re2 isn't loading the correct compile script, since "sh" shouldn't work on Windows. I can try installing cywgin?

[2019-03-23 22:42] tuncer commented on #37
The Azure Pipelines image we use is called vs2017-win2016 (see [1](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops), [2](https://github.com/Microsoft/azure-pipelines-image-generation/blob/master/images/win/Vs2017-Server2016-Readme.md)), and the script is https://github.com/dukesoferl/re2/blob/0a025cd734381f24a728933a0d983f990542bd8a/azure-pipelines.yml#L65-L

[2019-03-23 22:42] tuncer commented on #37
Have you tried using the Visual Studio Git bash shortcut?

Regarding `stdlib.h`, it's unlikely but possible that you forgot to select a component during Visual Studio installation.

[2019-03-24 21:09] wdavies973 commented on #37
I have tried Git bash to no avail.

Like I said, I've also tried just a "mix deps.compile" and it throws the error with "sh" not being recognized. So it looks like when calling "mix deps.compile" it isn't loading that azure-pipelines script correctly.

[2019-03-24 21:29] wdavies973 commented on #37
How can I test compiling using Cywgin?

[2019-03-24 22:03] tuncer commented on #37
That is only used by Azure Pipelines, and I linked the section to reference what invocation works on Windows. I don't know what kind of shell it is run in.

[2019-03-24 22:05] tuncer commented on #37
That shell, IIRC, is based on MinGW and should provide a reasonably complete environment.

[2019-03-24 22:19] tuncer commented on #37
Start Cygwin, run the vcvars64 script, then try `rebar3 compile`. I developed Windows support by relying on Azure Pipelines without access to an interactive Windows session. Tools like `rebar3`, `sh`, `cl`, `link` should all just work in a Cygwin or MinGW shell, so what you're experiencing is surprising.

[2019-03-25 09:12] tolbrino commented on #37
@tuncer @wdavies973 Just FYI, I tested the latest master and had no issues by following these steps:

- Use msys2 environment prepared with https://github.com/aeternity/aeternity/blob/master/scripts/windows/msys2_prepare.bat
- Start msys2 shell with https://github.com/aeternity/aeternity/blob/master/scripts/windows/msys2_shell.bat
- Extend `PATH` to use MSVC's `cmake`
- Run `make` and `make check`

[2019-03-25 15:21] wdavies973 commented on #37
@tolbrino Is there a way to make this work with `mix`?
Or can must I compile it outside of `mix` using the above commands?

[2019-03-25 15:35] tuncer commented on #37
If @tolbrino's steps manage to provide the required environment for you, and thus you can successfully execute `make`, it means you can also run `rebar3 compile` or `mix compile`.

[2019-03-25 15:55] tuncer commented on #37
@wdavies973, if you still fail to build, want to save time, and it doesn't conflict with the rest of your development setup, you can use Ubuntu for Windows via [WSL](https://en.wikipedia.org/wiki/Windows_Subsystem_for_Linux).

[2019-03-25 16:41] tolbrino commented on #37
@wdavies973 I verified that I can build `re2` as a dep under `mix`. So I guess you could check the 2 scripts I referenced to cherry-pick some setup steps which you might be missing.

@tuncer The problem (or rather non-feature) with WSL is that you are really running a linux build environment. So if your target is win32, you will have to setup mingw64 properly in there too.

[2019-04-02 02:15] wdavies973 commented on #37
@tolbrino , Good plain, works great on Ubuntu.

[2020-03-17 12:29] rbino opened #49 "New versions are missing on hex.pm"
Hi,
I was trying to fix a compilation issue with [CQEx](https://github.com/matehat/cqex) (that in turn uses [cqerl](https://github.com/matehat/cqerl)) and I've noticed that Mix fails to pull `re2` after https://github.com/matehat/cqerl/issues/158 since version 1.9.1 is not published on hex.pm (last published version is 1.8.9).

Can you please publish all the latest versions? Thanks in advance.

[2020-05-27 17:47] tuncer commented on #49
Releases published by @rbino, closing

[2020-05-27 17:47] #49 closed

[2020-06-17 02:51] dylan-chong opened #53 "Compilation fails on macos"
This line is failing https://github.com/dukesoferl/re2/blob/master/c_src/build_deps.sh#L6

with

[code]

on mac os

Replicate:

- add `{:re2, git: "git://github.com/dukesoferl/re2.git", tag: "v1.9.4"},` to mix.exs
- `mix deps.get`
- `mix deps.compile`

[2020-06-17 02:55] dylan-chong commented on #53
[code]

[2020-06-26 17:06] #53 closed

[2020-07-19 14:18] tuncer opened #56 "Maintainers field"
Should `re2.app.src` maintainers field reflect active maintainers? Does it affect Hex metadata in any way?

[2020-07-19 17:39] waisbrot commented on #56
According to [Hex package-metadata specs](https://github.com/hexpm/specifications/blob/master/package_metadata.md), the 'maintainers' field is deprecated. We should remove it.

[2020-07-19 18:44] #56 closed

[2021-12-23 23:11] dylan-chong opened #62 "re2 fails to compile randomly (Missing artifact priv/re2_nif.so)"
[code]

Mac os 12.1, M1
Elixir 1.13.1
Erlang 24.1.7
re2 1.9.7

Not sure what's going on here. Would appreciate any help, but this is causing some pain in CI

[2021-12-28 21:48] nifoc commented on #62
I ran into this same issue yesterday, after switching to a new (M1) MBP.

Sadly I don't have a solution yet. What's weird is that `re2_nif.so` exists and it looks like simply running `mix deps.compile re2` makes everything work just fine …

[2021-12-29 22:09] dylan-chong commented on #62
On Docker, Elixir 1.13.1 image, I have to run `mix deps.compile` 3 times for it to work.

- first time: `Missing artifact priv/re2_nif.so`
- second time: `Missing artifact priv/lz4.so`
- third time: works :/

[2021-12-30 21:58] nifoc commented on #62
Things I tried that ultimately resulted in the same issue:

* Building with `-j1`
* Using the re2 version released in November
* Using `pc` versions `1.12` and `1.11`

[2021-12-30 22:28] nifoc commented on #62
Final update for today:

* Compiling directly with `rebar3` works (best I can tell) every single time
* Using Elixir 1.12 also always works

[2022-01-03 18:34] nifoc commented on #62
A new version of `port_compiler` was released to address the issue. The following now works 100% of the time:

[code]

I think I will release a new version of `re2` soon, which will explicitly depend on a `pc` version and also bumps `re2` itself to a newer version. However, a new `re2` release is not required to make it work with Elixir 1.13.

[2022-01-11 01:26] dylan-chong commented on #62
Cool, problem solved!

[2022-01-11 01:26] #62 closed